@charset 'UTF-8';

//
// Fonts
//

@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Roboto:400,700&display=swap");

//
// Bootstraping
//

@import "./bootstrap-configuration";

@import "./functions";
@import "./custom-variables";
@import "./mixins";
@import "./theming";
@import "./variables";
@import "./css-variables";
@import "./utilities";
@import "./root";

@import "./bootstrap-components";

//
// Components
//

@import "./content";
@import "./components";

.dashboard {
  // background-image: url('../images/safe/loginBg.png');
  // background-repeat: no-repeat;
  // background-size: cover;

  background: linear-gradient(131.85deg, rgba(0, 238, 224, 0.87) 16.97%, rgba(14, 171, 0, 0.93) 75.88%);
  height: 100vh;
  padding-top: 80px;
}
.sidebar-nav {
  height: 80vh;
}
.navbar {
  background-color: rgba(245 ,245, 245 , 0.2) !important;
      background-color: rgba(245, 245, 245, 0.5) !important;
    position: fixed;
    left: 0;
    right: 0;
}
